[Unit]
Description=imoog node
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/myfolders/imoog/
ExecStart=/root/myfolders/imoog/bin/python3 -m uvicorn imoog.app:app --port 6979 --workers 5
User=root
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target